*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.containerForm{
    display: flex;
    align-items: center;
    padding:30px;
    background: black;
    border: 2px solid white;
    text-align: start
   
    
}
.titleForm{
    padding: 5px;
    margin-right: 30px;
}
.formulario_Content{
    display: flex;
    flex-direction: column;
    background: radial-gradient(ellipse at center, #272727, #010101);
    padding: 20px;
}

/* box */
.titlePrincipal{
    display: flex;
    flex-direction: column;
}
.labelName{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.imageReact{
    width: 10vw;
    margin-left: 20px;
}

.labelEmail{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.labelEdad{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.paisTags{
    padding: 5px;
}

.labelTelefono{
    margin: 5px;
    margin-bottom: 15px;
}

.submitEnviar{
    margin-top: 10px;
}
.submitEnviar:hover{
    background-color: cornflowerblue;
    transition: all .1s ease-out;
}
.checkTelefono{
    padding: 5px;
}
.labelTelefono_check{
    margin: 5px;
}